* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    align-items: center;
}

body {
    margin: 0;
    background-color: #1BBC9B;
}

.login-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #EEEFF1;
}

.text-field {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #1BBC9B;
    border: none;
    border-radius: 5px;
}

.links {
    text-align: center;
}

.links a {
    font-size: 12px;
    color: #9B9B9B;
}