body {
    margin: 0;
}

[id^="div"] {
    width: 100%;
    float: left;
}

#menu {
    background-color: #FF0000;
}

#intro {
    background-color: #FFA500;
}

#content {
    background-color: #FFFF00;
}

#show1 {
    background-color: #008000;
}

#show2 {
    background-color: #0000FF;
}

#show3 {
    background-color: #4B0082;
}

/* 767 이하 */
@media (max-width: 767px) {
    #menu {
        height: 60px
    }

    #intro {
        height: 350px
    }

    #content {
        height: 320px;
    }

    #show1 {
        height: 385px;
    }

    #show2 {
        height: 200px;
    }

    #show3 {
        height: 200px;
    }
}

/* 768 ~ 991 */
@media (min-width: 768px) {
    #menu {
        height: 60px
    }

    #intro {
        height: 562px
    }

    #content {
        height: 282px;
    }

    #show1 {
        width: 50%;
        height: 360px;
    }

    #show2 {
        width: 50%;
        height: 180px;
    }

    #show3 {
        width: 50%;
        height: 180px;
    }
}

/* 992 이상 */
@media (min-width: 992px) {
    #menu {
        height: 60px
    }

    #intro {
        width: 50%;
        height: 700px
    }

    #content {
        width: 50%;
        height: 350px;
    }

    #show1 {
        width: 25%;
        height: 350px;
    }

    #show2 {
        width: 25%;
        height: 175px;
    }

    #show3 {
        width: 25%;
        height: 175px;
    }
}